* {
  margin: 0;
}

.App {
  /* variables */
  --dark-green: #1b512d;
  --white: #f7f7f7;
  --purple: #743b67;
  --black: #1d1e2c;
  --grey: rgb(145, 145, 145);
  /* styles */
  text-align: center;
  font-size: 1.1em;
  background-color: var(--white);
  min-height: 100vh;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.loading {
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
  /* magic number of px to fit 3 dots */
  min-width: 125px;
  color: var(--purple);
  margin: 30px;
}

.title {
  color: var(--purple);
  margin: 10px;
  font-size: 2.5em;
}

.italics {
  font-style: italic;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 25px;
}

.quote {
  text-align: center;
}

.subheading {
  text-align: center;
  font-weight: bold;
}

.count-value {
  border: solid 2px var(--dark-green);
  color: var(--purple);
  padding: 2px 18px 5px 18px;
  margin: 15px;
  font-size: 3.5em;
}

.button {
  color: var(--white);
  font-size: 1.2em;
  padding: 7px;
  background-color: var(--dark-green);
  border-radius: 5px;
  border: 2px solid var(--white);
}

.button:hover {
  border-color: var(--grey);
}

.button:active {
  background-color: #2a7c45;
  border-color: rgb(175, 175, 175);
}

.footer {
  font-style: italic;
  font-size: 0.7em;
  color: var(--grey);
  text-align: left;
  margin: 20px;
}
